.pagina-consultar {
    padding: 50px;

    .top {
        display: flex;
        align-items: center;
        gap: 50px;
        padding-bottom: 22px;
    }


    h1 {
        padding-bottom: 18px;
    }

    a {
        font-size: 17px;
        color: #fff;
        padding: 0px 0px 10px 0px;
        text-decoration: none;
    }

    a:hover {
        background-color: #2f72c9;
        font-weight: 700;
    }

    table {
        width: 1200px;

        padding-top: 20px;

        th {
            text-align: left;
            padding: 5px;
        }

        td {
            padding: 5px;
            border-top: 1px solid #000;
        }
    }

    button {
        font: 600 18px 'Poppins';
        padding: 6px 10px;
        border: none;
        background-color: #2f72c9;
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
    }

    button:hover {

        background-color: #1857aa;
        transition: 0.7s;
    }


}