.pagina-home {
    padding: 50px;

    .secao {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-bottom: 12px;

        label {
            font-size: 22px;
            font-weight: bold;
        }

        input {
            font-size: 18px;
            padding: 6px;
            margin-top: 8px;
        }
    }

    button {
        font: 600 18px 'Poppins';
        padding: 6px 10px;
        border: none;
        background-color: #2f72c9;
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
    }

    button:hover {

        background-color: #1857aa;
        transition: 0.7s;
    }
}